HOSPITAL_A_USER=hospital_a_admin
HOSPITAL_A_PASSWORD=changeme_a

HOSPITAL_B_USER=hospital_b_admin
HOSPITAL_B_PASSWORD=changeme_b

HOSPITAL_C_USER=hospital_c_admin
HOSPITAL_C_PASSWORD=changeme_c

AUTH_DB_USER=auth_admin
AUTH_DB_PASSWORD=changeme_auth

AUDIT_DB_USER=audit_admin
AUDIT_DB_PASSWORD=changeme_audit
